/* Estilos para H.U 2 */

/*gryffindor*/
.body-house {
  background-size: contain;
}

.body-gryffindor {
  background-image: url(/assets/fondo-gryffindor-4.jpg);
}
.nav-house {
  height: 10vh;
  width: 100%;
}
.nav-house__items {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-item {
  margin-right: 2rem;
  list-style: none;
}

.nav-item > a {
  text-decoration: none;
  color: var(--color-primary);
  font-family: var(--fuente-secondary);
  font-size: 1.5rem;
}

.nav-item > a:hover {
  font-size: 1.7rem;
  color: #ffffff;
}

.contenedor-principal-house {
  width: 100%;
}

.intro-house {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo-principal {
  font-size: 3.5rem;
  color: var(--color-primary);
  font-family: var(--fuente-secondary);
  margin-bottom: 2rem;
}

.subtitulo {
  font-size: 2rem;
  color: #ffffff;
  font-family: var(--fuente-primary);
  margin-bottom: 2rem;
}

.form-house {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.buscador-house {
  width: 20%;
  height: 35px;
  border-radius: 12px;
  outline: none;
  padding: 10px;
  border: none;
}

.img-buscador {
  width: 25px;
  position: absolute;
  right: 940px;
}

.seleccion-filtracion,
.seleccion-order {
  width: 150px;
  height: 35px;
  border-radius: 8px;
  margin-left: 15px;
  -webkit-appearance: none;
  outline: none;
  font-size: 22px;
  font-weight: 700;
  padding-left: 10px;
}

.categoria {
  background-color: var(--color-cards-gryffindor);
  padding: 10px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

.option-image {
  font-family: Arial, Helvetica, sans-serif;
}
.option-house {
  text-align: center;
  font-size: 20px;
}
.cards-personajes {
  margin: 100px 30px 50px;
  display: grid;
  grid-template-columns: repeat(3, 550px);
  row-gap: 35px;
  column-gap: 35px;
  justify-content: center;
}
.card-personaje {
  width: 550px;
  min-height: 300px;
  padding: 10px;
  background-color: var(--color-cards-gryffindor);
  border: var(--color-primary) solid 4px;
  display: flex;
  align-items: center;
  border-radius: 25px;
}
.card-personaje__info--titulo {
  font-family: var(--fuente-secondary);
  font-size: 2rem;
  color: var(--color-primary);
  margin: 15px 0 25px 0;
  text-align: center;
}

.contenedor-img {
  background-color: #3a0404;
  margin: 12px;
  border-radius: 15px;
}
.card-personaje__img {
  width: 200px;
}
.card-personaje__info {
  margin: 0 auto;
  height: 100%;
}

.card-personaje__info--birthdate,
.card-personaje__info--specie,
.card-personaje__info--group,
.card-personaje__info--ancestry,
.card-personaje__info--gender {
  display: flex;
  margin-bottom: 15px;
  color: #ffffff;
  font-family: var(--fuente-primary);
}
.card-personaje__info--group > .info-negrita {
  width: 80px;
}
.card-personaje__info--birthdate > .info-negrita {
  width: 70px;
}
.card-personaje__info--ancestry > .info-negrita {
  width: 95px;
}
.info-negrita {
  font-weight: 600;
  font-size: 18px;
  margin-right: 5px;
}

.presentacion-house {
  width: 65%;
  height: 520px;
  display: flex;
  margin: 0 auto;
  margin-top: 4.5rem;
  box-shadow: 13px 10px 296px -36px rgba(224, 156, 54, 1);

  border-radius: 20px;
}

.presentacion-info {
  width: 50%;
  background-color: black;
  opacity: 0.6;
  border-radius: 20px 0 0 20px;
}
.lema-house {
  font-size: 2rem;
  font-family: var(--fuente-secondary);
  text-align: center;
  color: var(--color-primary);
  margin: 3rem 3rem 1.5rem 2rem;
}

.informacion-house {
  font-family: var(--fuente-primary);
  font-size: 1.2rem;
  margin: 0 20px;
  color: white;
  text-align: justify;
  line-height: 2rem;
  padding: 25px 25px 40px;
}
.contenedor-img-presentacion {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  border-radius: 20px;
}
.imagen-presentacion {
  width: 100%;
  height: 100%;
  border-radius: 0 20px 20px 0;
  margin: 0 auto;
  transition: transform 0.2s;
}

.imagen-presentacion:hover {
  transform: scale(1.1);
  border-radius: 20px;
}

/* diseño responsivo mobile */
@media (min-width: 375px) and (max-width: 450px) {
  .presentacion-house {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 3rem;
    border-radius: 20px;
    box-shadow: none;
    border: 3px solid var(--color-primary);
  }

  .presentacion-info {
    width: 100%;
    opacity: 0.6;
    border-radius: 20px 20px 0 0;
  }
  .lema-house {
    font-size: 1.5rem;
    text-align: center;
    color: var(--color-primary);
    margin: 2rem 2rem 1.5rem 2rem;
  }
  .informacion-house {
    font-size: 1rem;
    margin: 0 18px 18px;
    text-align: justify;
    line-height: 1.6rem;
    padding: 10px;
  }
  .contenedor-img-presentacion {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .imagen-presentacion {
    border-radius: 0 0 20px 20px;
  }
}
