/* nav-principal */
html {
  scroll-behavior: smooth;
}

.navegacion-principal {
  width: 100%;
  height: 370px;
}

.contenedor-imagen-principal {
  position: relative;
}
.img-navegacion-principal {
  width: 100%;
  background-size: cover;
  position: relative;
  display: block;
}

.titulo-principal-home {
  position: absolute;
  width: 40%;
  top: 58px;
  left: 30%;
}

.nav-principal {
  height: 47px;
  width: 100%;
}

.nav-principal__items {
  background-color: rgba(9, 7, 42, 1);
  display: flex;
  justify-content: space-around;
}

.nav-principal__item {
  border-radius: 15px;
  list-style: none;
  font-family: var(--fuente-secondary);
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 10px;
  background-color: var(--color-primary);
  width: 200px;
  height: 45px;
  transition: width 2s;
}

.nav-principal__item a {
  color: black;
  text-decoration: none;
}

.nav-principal__item:hover {
  width: 300px;
  background-color: rgb(248, 209, 118);
}

/* Estilos para H.U 1- Home-principal-house*/
.casas {
  background: rgb(42, 37, 125);
  background: radial-gradient(
    circle,
    rgba(42, 37, 125, 1) 11%,
    rgba(10, 10, 83, 1) 45%,
    rgba(9, 7, 42, 1) 73%
  );
  height: 85vh;
  margin-top: 38px;
}

.casas > div {
  background-image: url(../../assets/brillo-5.png);
  background-size: cover;
  height: 100%;
}

.contenedor-casas {
  width: 46vw;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 130px;
  margin: auto;
}

.casa-hufflepuff {
  background-image: url(../../assets/huffepuff.jpg);
}
.casa-gryffindor {
  background-image: url(../../assets/gryffindor.jpg);
}
.casa-ravenclaw {
  background-image: url(../../assets/ravenclaw.jpg);
}
.casa-slytherin {
  background-image: url(../../assets/slytherin.jpg);
}

.casa {
  height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.casa__link {
  text-decoration: none;
}

.casa__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  display: none;
}

.casa__info-titulo {
  color: var(--color-primary);
  font-family: var(--fuente-secondary);
  letter-spacing: 2px;
  font-size: 2.5rem;
}

.casa__info > p {
  font-size: 18px;
  font-family: var(--fuente-primary);
  padding-top: 12px;
}

div .casa__info-total {
  font-size: 2.5rem;
  font-weight: 400;
}

.casa:hover .casa__link > .casa__info {
  display: flex;
  background-color: black;
  opacity: 0.8;
}
/* estilos de spell-potions */

/* body {
  width: 100%;
} */

.hechizos-pociones {
  width: 100%;
  background-image: url(../../assets/fondo-moto.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-spell-potions {
  font-family: "Jim Nightshade", sans-serif;
  font-weight: 400;
  color: #c78b1c;
  margin: 33px 0;
  font-size: 4rem;
}

.titulo-spell,
.titulo-potions {
  font-family: "Jim Nightshade", sans-serif;
  /* font-style: italic; */
  font-weight: 400;
  color: #c78b1c;
  font-size: 3rem;
  margin-top: 15px;
}

.contenedor-imagenes {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
}

.contenedor-imagenes div.medio {
  width: 50%;
  display: flex;
  align-items: center;
  cursor: default;
}
.contenedor-imagenes div img.img--varita {
  width: 100%;
  transform: rotate(-30deg);
}
.contenedor-hechizos {
  display: block;
  width: 70%;
  min-height: 400px;
  background-image: url(../../assets/spell-foto-libro.jpg);
  background-repeat: no-repeat;
  border-radius: 25px;
  border: 1px solid #c78b1c;
  height: 300px;
  background-size: cover;
  text-decoration: none;
}
.contenedor-H-P {
  width: 65%;
  min-height: 70%;
  background: #0b0939;
  border: 10px solid #c78b1c;
  border-radius: 45px;
  padding: 0px 35px 35px 35px;
  margin: 0 auto;
  text-align: center;
}

.contenedor-pociones {
  display: block;
  width: 70%;
  min-height: 400px;
  background-image: url(../../assets/potion-foto-frasco.jpg);
  background-repeat: no-repeat;
  border-radius: 25px;
  border: 1px solid #c78b1c;
  height: 300px;
  background-size: cover;
  text-decoration: none;
}

/* estilos de H.U 4 -libros */
.libros {
  width: 100%;
  background: rgb(42, 37, 125);
  background: radial-gradient(
    circle,
    rgba(42, 37, 125, 1) 11%,
    rgba(10, 10, 83, 1) 45%,
    rgba(9, 7, 42, 1) 73%
  );
}

.contenedor-libros {
  position: relative;
  background-image: url(../../assets/brillo-5.png);
  background-size: cover;
  width: 100%;
  padding-top: 50px;
}
.titulo-libros {
  font-size: 4.5rem;
  line-height: 18px;
  /* font-family: var(--fuente-secondary); */
  font-family: "Jim Nightshade", sans-serif;
  color: #c78b1c;
  text-align: center;
  font-weight: 400;
  padding-bottom: 36px;
  padding-top: 36px;
}
.contenedor-carrusel {
  position: relative;
  padding: 0 40px;
}

.carrusel {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  padding: 16px 0;
}

.carrusel::-webkit-scrollbar {
  background-color: transparent;
  height: 8px;
}

.carrusel::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 12px;
}

.card-libro {
  display: inline-block;
  margin: 30px;
  width: 300px;
  border-radius: 30px;
  white-space: normal;
  transition: opacity 0.3s, transform 0.3s;
  scroll-snap-align: center;
}

.contenedor-carrusel .card-libro:hover {
  transform: scale(1.1);
  opacity: 1;
}

.img-libro {
  width: 100%;
  border-radius: 30px 30px 0 0;
  display: block;
  height: 350px;
  object-fit: cover;
}

.card-libro__info {
  width: 100%;
  padding: 10px 20px;
  background-color: var(--color-primary);
  border-radius: 0 0 30px 30px;
}

.card-libro__info > p {
  color: rgb(20, 20, 57);
  font-family: var(--fuente-secondary);
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: 400;
}

.card-libro__info > p b {
  font-family: var(--fuente-secondary);
  font-weight: 700;
  font-size: 1.2rem;
  color: rgb(20, 20, 57);
}

.btn-carrusel__left,
.btn-carrusel__right {
  border-radius: 50%;
  background-color: var(--color-primary);
  color: white;
  z-index: 1;
  width: 48px;
  height: 48px;
  border: 0;
  top: 34%;
  position: absolute;
  cursor: pointer;
}

.btn-carrusel__left {
  left: 56px;
}

.btn-carrusel__left img {
  width: 25px;
}

.btn-carrusel__right img {
  width: 25px;
}

.btn-carrusel__right {
  right: 61px;
}

/* footer */
.footer-H {
  display: flex;
  justify-content: space-around;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2%;
  background: #0b092f;
  color: whitesmoke;
}
.imagen-H-P {
  width: 25%;
}
.lista,
.lista1,
.lista2 {
  list-style: none;
  width: 33%;
  font-family: "Roboto";
  font-style: normal;
}
.lista1 h3,
.lista2 h3 {
  color: rgba(199, 139, 28, 1);
}
.redes {
  width: 25%;
}
