/* nav-principal */
html {
  scroll-behavior: smooth;
}

.navegacion-princiapl {
  width: 100%;
  height: 370px;
}

.contenedor-imagen-principal {
  position: relative;
}
.img-navegacion-principal {
  width: 100%;
  background-size: cover;
  position: relative;
  display: block;
}

.titulo-principal-home {
  position: absolute;
  width: 50%;
  top: 43px;
  left: 24%;
}

.nav-principal {
  height: 55px;
  width: 100%;
}

.nav-principal__items {
  background-color: rgba(9, 7, 42, 1);
  display: flex;
  justify-content: space-around;
}

.nav-principal__item {
  border-radius: 15px;
  list-style: none;
  font-family: var(--fuente-secondary);
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 10px;
  background-color: var(--color-primary);
  width: 200px;
  height: 45px;
  transition: width 2s;
}

.nav-principal__item a {
  color: black;
  text-decoration: none;
}

.nav-principal__item:hover {
  width: 300px;
  background-color: rgb(248, 209, 118);
}

/* Estilos para H.U 1- Home-principal-house*/
.casas {
  background: rgb(42, 37, 125);
  background: radial-gradient(
    circle,
    rgba(42, 37, 125, 1) 11%,
    rgba(10, 10, 83, 1) 45%,
    rgba(9, 7, 42, 1) 73%
  );
  height: 90vh;
}

.casas > div {
  background-image: url(/assets/brillo-5.png);
  background-size: cover;
  height: 100%;
}

.contenedor-casas {
  width: 46vw;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 80px;
  margin: auto;
}

.casa-hufflepuff {
  background-image: url(/assets/huffepuff.jpg);
}
.casa-gryffindor {
  background-image: url(/assets/gryffindor.jpg);
}
.casa-ravenclaw {
  background-image: url(/assets/ravenclaw.jpg);
}
.casa-slytherin {
  background-image: url(/assets/slytherin.jpg);
}

.casa {
  height: 260px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.casa__link {
  text-decoration: none;
}

.casa__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  display: none;
}

.casa__info-titulo {
  color: var(--color-primary);
  font-family: var(--fuente-secondary);
  letter-spacing: 2px;
  font-size: 2.5rem;
}

.casa__info > p {
  font-size: 18px;
  font-family: var(--fuente-primary);
  padding-top: 12px;
}

div .casa__info-total {
  font-size: 2.5rem;
  font-weight: 400;
}

.casa:hover .casa__link > .casa__info {
  display: flex;
  background-color: black;
  opacity: 0.8;
}

@media (min-width: 1440px) {
}
