body{
    background-image: url(../../assets/Fondo-azul-oscuro-degradado.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
#titulo-potions{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;
    margin: 0;
  }
#titulo2-potions{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
  }
  
.nav-potions {
    height: 15vh;
    width: 95%;
    color: #ffffff;
  }
.nav-potions--items {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
.nav-item {
    margin-right: 2rem;
    list-style: none;
  }
  
.nav-item > a {
    text-decoration: none;
    color: var(--color-primary);
    font-family: var(--fuente-secondary);
    font-size: 1.5rem;
  }
  
.nav-item > a:hover {
    font-size: 1.7rem;
    color: #ffffff;
  }
  
.barra-de-busqueda1 {
    width: 100%;
    text-align: center;
  }
  
.barra-de-busqueda1 input {
    width: 40%;
    height: 30px;
    background: #FFFFFF;
    border-radius: 20px;
    font-size: large;
    font-weight: bold;
    color: #000;
    padding: 5px 40px 5px 40px;
  
  }