body{
  background-image: url(../../assets/Fondo-azul-oscuro-degradado.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

#titulo-hechizo{
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #FFFFFF;
  margin: 0;
}
#titulo2-hechizo{
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}

.nav-hechizos {
  height: 15vh;
  width: 95%;
  color: #ffffff;
}
.nav-hechizos--items {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-item {
  margin-right: 2rem;
  list-style: none;
}

.nav-item > a {
  text-decoration: none;
  color: var(--color-primary);
  font-family: var(--fuente-secondary);
  font-size: 1.5rem;
}

.nav-item > a:hover {
  font-size: 1.7rem;
  color: #ffffff;
}

.barra-de-busqueda {
  width: 100%;
  text-align: center;
}

.barra-de-busqueda input {
  width: 40%;
  height: 30px;
  background: #FFFFFF;
  border-radius: 20px;
  font-size: large;
  font-weight: bold;
  color: #000;
  padding: 5px 40px 5px 40px;

}

/* Cards con el resultado de la busqueda */
.resultado-busqueda {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 30px;
  justify-content: center;
  margin-top: 6%;
}

.spell-item {
  width: 85%;
  background-color: #C78B1C;
  border: #FFFBFB solid 20px;
  margin: 2%
}

.contenedor-img-varita {
  background-color: #7F0909;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: relative;
  top: -80px;
  left: 35%;
  
}

.spell-item__img {
  position: relative;
  width: 90%;
  top: 20%;
  transform: rotate(-30deg);
}

.spell-item__info {
  position: relative;
  top: -50px;
  font-size: 24px;
  margin: 10%;

}