:root {
  --fuente-titulo: "Harry Potter", sans-serif;
  --fuente-primary: "Roboto", sans-serif;
  --fuente-secondary: "Courgette", cursive;
  --color-primary: #c78b1c;
  --color-cards-gryffindor: #7f0909;
  --color-secondary-slytherin: #132c19;
  --color-cards-slytherin: #2a623d;
  --color-primary-ravenclaw: #102e42;
  --color-cards-ravenclaw: #051940;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
