.section-spell{
    height: 100vh;
    background-image: url(assets/fondo-azul-mandala.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;	
  
  }
  .nav-hechizos{
  
    
   
  }
  .nav-hechizos--items{
    list-style: none;
    float: right;
   }
   .nav-item{
    display: inline-block;
    
  }
  #titulo-hechizo{
    text-align: center;
  }
  #titulo2-hechizo{
    color: azure;
    text-align: center;
  }
  .barra-de-busqueda{
    text-align: center;
   
  }
  .resultado-busqueda{
    color: azure;
    width:50% ;
    height: 25%;
    display: flex;
    justify-content: center;
    margin: auto auto;
  }
  .spell-item {
    border: 5px solid #fff;
    background-color: #C78B1C;
  }