:root {
  --fuente-titulo: "Harry Potter", sans-serif;
  --fuente-primary: "Roboto", sans-serif;
  --fuente-secondary: "Courgette", cursive;
  --color-primary: #c78b1c;
  --color-cards-gryffindor: #7f0909;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilos para H.U 1 */
.casas {
  background: rgb(42, 37, 125);
  background: radial-gradient(
    circle,
    rgba(42, 37, 125, 1) 11%,
    rgba(10, 10, 83, 1) 45%,
    rgba(9, 7, 42, 1) 73%
  );
  height: 100vh;
}

.casas > div {
  background-image: url(./assets/brillo-5.png);
  background-size: cover;
  height: 100%;
}

.contenedor-casas {
  width: 50vw;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 80px;
  margin: auto;
}

.casa-hufflepuff {
  background-image: url(./assets/huffepuff.jpg);
}
.casa-gryffindor {
  background-image: url(./assets/gryffindor.jpg);
}
.casa-ravenclaw {
  background-image: url(./assets/ravenclaw.jpg);
}
.casa-slytherin {
  background-image: url(./assets/slytherin.jpg);
}

.casa {
  background-size: cover;
  background-repeat: no-repeat;
}

.casa__link {
  text-decoration: none;
}

.casa__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  display: none;
}

.casa__info-titulo {
  color: var(--color-primary);
  font-family: var(--fuente-secondary);
  letter-spacing: 2px;
  font-size: 2.5rem;
}

.casa__info > p {
  font-size: 18px;
  font-family: var(--fuente-primary);
  padding-top: 12px;
}

div .casa__info-total {
  font-size: 2.5rem;
  font-weight: 400;
}

.casa:hover .casa__link > .casa__info {
  display: flex;
  background-color: black;
  opacity: 0.8;
}

/* Estilos para H.U 2 */

/*gryffindor*/

.body-gryffindor {
  background-image: url(./assets/fondo-gryffindor2.jpg);
  background-size: cover;
}
.nav-gryffindor {
  height: 10vh;
  width: 100%;
}
.nav-gryffindor__items {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-item {
  margin-right: 2rem;
  list-style: none;
}

.nav-item > a {
  text-decoration: none;
  color: var(--color-primary);
  font-family: var(--fuente-secondary);
  font-size: 1.5rem;
}

.nav-item > a:hover {
  font-size: 1.7rem;
  color: #ffffff;
}

.contenedor-principal-gryffindor {
  width: 100%;
}

.intro-gryffindor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo-principal {
  font-size: 3.5rem;
  color: #ffffff;
  font-family: var(--fuente-secondary);
  margin-bottom: 2rem;
}

.subtitulo {
  font-size: 2rem;
  color: #ffffff;
  font-family: var(--fuente-primary);
  margin-bottom: 2rem;
}

.form-gryffindor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.buscador-gryffindor {
  width: 30%;
  height: 35px;
  border-radius: 12px;
  outline: none;
}

.img-buscador {
  width: 25px;
  position: absolute;
  right: 680px;
}

.card-estudiante {
  width: 450px;
  padding: 10px;
  background-color: var(--color-cards-gryffindor);
  border: var(--color-primary) solid 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-estudiante__img {
  width: 200px;
}
.card-estudiante__info {
  margin: 0 0 0 10px;
}

.card-estudiante__info--birthdate,
.card-estudiante__info--specie,
.card-estudiante__info--group,
.card-estudiante__info--death {
  display: flex;
  margin-bottom: 15px;
  color: #ffffff;
  font-family: var(--fuente-primary);
}

.info-negrita {
  font-weight: 600;
  font-size: 18px;
  margin-right: 5px;
}
